.camera_hidden {
    visibility: hidden;
}
.camera.unhidden {
    visibility: none;
}
.navbar-brand,
.nav-item {
    transition: all 0.3s ease-in-out;
}
body.hasHover .navbar-brand:hover,
body.hasHover .nav-item:hover {
    transform: scale(1.5);
}
